
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

html, body {
    height: 120%;
}

body{
    background-image: linear-gradient(to bottom right, #00a2b8, #3ce1ec, #b0fffb);
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 

.contenedor{
    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0px 0px 14px 15px rgba(0,0,0,0.2);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 60rem;
}




input{
    margin-top: 2rem;
    border-radius: 5px;
    width: 40rem;
    padding: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;

}



li{
    align-items: center;
    justify-content: center;
    background-color: #ccdaff;
    width: 40rem;
    list-style: none;
    padding: 5px;
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
    margin-left: 6.7rem;    

}





.theLi{
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    justify-content: space-between!important;


    
}

.eraser {
    background-color: #00a2ff;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;

    
}
  .eraser:hover {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
  }
    
